/* shared style */

.open-sans-inter{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;  
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    max-width: 1600px;
    margin: auto;
    padding: auto;
}



.btn{
    width: 164px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    border-style: none;
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    cursor:pointer;
}







/* main styles */
.nav-bar{
    max-width: 1600px;
    height: 92px;
    margin: 10px;
    padding: 5px 90px;
    margin-bottom: 0;

}

.nav-bar nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.nav-bar nav ul li{
    list-style: none;
}

.nav-bar nav ul  div{
    display: flex;
    flex-direction: row;
    gap: 0 32px;
}

.nav-bar nav ul li a{
    text-decoration: none;
    color:black;

}

.banner-header{
    max-width: 1600px;
    height: 500px;
   
    padding: auto;
    background-image: url('./assets/hero-bg.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-early{
    width: 150px;
    height:30px;
    margin: 0px;
    border-radius: 1000px;
    background: rgba(255, 255, 255, 1);
    font-size: 11px;
    font-weight: 400;
    color: #30B868;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text-structured{
    text-align: center;
    font-size: 30px;
    font-weight: 700px;
}

.white-font{
    color: white;
}

.green-font{
    color: rgb(14, 127, 14);
}

.text-a p{
    text-align: center;
    /* line-height: 30px; */
    color: rgb(255, 255, 255);
}

.btn-two{
    margin: 32px;
}

.start-btn{
    width: 251px;
    height: 50px;
}

.see-btn{
    width: 198px;
    height: 50px;
    background: none;
    border: 1px solid white;
}


#notes{
    max-width: 1600px;
    height: 350px;
    padding: 0px auto;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(235, 233, 230, 0.296);

}

.text-notes{
    width: 70%;
    /* border: 1px solid black; */
    text-align: center;
    margin-bottom: 20px;
    line-height: 50x;
}

.text-notes p{
    color: rgba(98, 115, 130, 1);
    font-size: 10px ;
}

.card-notes{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-bottom: none;
    

}

.card{    
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 26; */
    margin: 10px ;
    margin-bottom: none;
    text-align: center;
    gap: 15px;   
    border-radius: 20px 20px 0 0;
    border-bottom: none;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.064);
    background: rgba(255, 255, 255, 1);  

    font-size: 10px;
    color: rgba(98, 115, 130, 1);

}
.card h3{
    color: black;
}

.your-card{
    max-width:1600px;
    width: 85%;
    height: 800px;
}

.your-inside{
    width: 95%;
    max-width: 1600px;
    height: 600px;
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 50px 100px;

}

.your-img img{
    width: 500px;
    height: 500px;
}

.your-text{
    width: 600px;
    padding: 0;
    line-break: 20px;    
}

.your-text p{
    margin-bottom: 20px;
    color: rgba(98, 115, 130, 1)
}

.your-text h4{
    color: rgba(70, 145, 101, 1);
}



.your-check div{
    display: flex;
    align-items: center;
    gap:5px;
}

.your-check h4{
    font-weight: 100px;
    font: 100;
}

.your-check div img{
    width: 20px;
    height: 20px;
}

.ready-text{
    width: 85%;
    height: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    text-align: center;
    margin-bottom: 50px;

}

.ready-text p{
    color:  rgba(98, 115, 130, 1);
}
.ready-text button{
    width: 194px;
}


footer{
    width: 1600px;
    height: 350px;
    padding: 120px 120px 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    background: rgba(0, 25, 49, 1);
}

.footer-up{
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.social-text p{
    color: rgba(255, 255, 255, 1);
}

.social-text div a{
    color: white;
}

.social-text{
    gap: 10px;
    line-height: 25px;
}

.footer-down{
    text-align: center;
}

hr{
    border: 1px solid var(--DS New/Colors/Stroke/Gray-Light, rgba(229, 231, 235, 1));
    opacity: 0.2;
    margin-bottom: 20px;
}

.footer-down p{
    color: white;
}




.btn:hover {
  background-color: #45a049;   
  color: rgb(48, 219, 134);               
  transform: scale(1.1);
}

.note-img{
    background-color: rgb(178, 28, 28);
    border-radius: 50%;
}





